
# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://lnbizzdnewstxummqvhm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxuYml6emRuZXdzdHh1bW1xdmhtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDEzOTk2MDksImV4cCI6MjA1Njk3NTYwOX0._VUIjNbkm2a_1bFetZT4WCxmaB9iQ3l4psrucEuShsA
